body {
  background-color: #EAEAE8;
}

h1 {
  font-family: monospace;
  font-size: 40px;
  text-align: center;
  background-color: #3A405A;
  color: #CABAC8;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
  z-index: 100;

}

.heading {
  display: block;
  margin-top: 60px;
  padding-top: 3em;
  padding-left: 3em;
}

h2 {
  display:inline-block;
  font-family: monospace;
  max-width: 100px;
  margin: 0 auto;
}

.heading p {
  font-family: monospace;
}


.score p {
  font-family: monospace;
  font-size: 15px;
  width: 225px;
}

.draw {
  height: 50px;
  width: 80px;
  background-color: yellow;
}

.result {
  height: 50px;
  line-height: 50px;
  max-width: 500px;
  margin: 0 auto;
  font-family: monospace;
  font-size: 18px;
  text-align: center;
}

.playerscores {
  max-width: 450px;
  margin: 0 auto;
  display: block;
}

.score {
  display: inline-block;
  width: 45%;
}

button {
  height: 40px;
  width: 100px;
  font-size: 18px;
  display: inline-block;
}

.box-container {
  max-width: 458px;
  margin: 0 auto;
  display: grid;
  background-color: #EAEAE8;
  grid-template-columns: 1fr 1fr 1fr;

}
.box {
  background-color: #ccc;
  border: 1px solid black;
  font-size: 50px;
  font-family: monospace;
  line-height: 150px;
  height: 150px;
  width: 150px;
  text-align: center;
  border-radius: 20px;
  margin: 2px;
}

.game {
  max-width: 800px;
  margin: 0 auto;
}

.box-message {
  position: relative;
}

.messageBox {
  /* border: solid black 2px; */
  border-radius: 15px;
  position: absolute;
  left: 250px;
  top: 125px;
  width: 304px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 50%;
  visibility: hidden;
}
